<!DOCTYPE html>
<html lang="en" ng-app="votersApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Git Diff Voters</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="style/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="indexController">
    <div class="container">
      <h1>Lisk voters</h1>

      <input ng-model="delegate.you" placeholder="Your delegate name" class="form-control" />
      <input ng-model="delegate.other" placeholder="Other delegate name" class="form-control" />
      <button ng-click="inspect()" class="btn btn-info btn-raised btn-block">Inspect</button>

      <hr>
      <div ng-if="loading == 'yes'" align="center">
        <i class="fa fa-spin fa-refresh" style="font-size: 300%"></i><br>
        <i>Data is loading, please wait...</i>
      </div>
      <div ng-if="loading == 'no'"></div>
      <div ng-if="loading == 'completed'">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>You</th>
              <th>Other</th>
              <th>Diff</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Balance</td>
              <td>{{data.balance[0]}}</td>
              <td>{{data.balance[1]}}</td>
              <td>{{data.balance[0] - data.balance[1]}}</td>
            </tr>
            <tr>
              <td>Rank</td>
              <td>{{data.rank[0]}}</td>
              <td>{{data.rank[1]}}</td>
              <td>{{data.rank[0] - data.rank[1]}}</td>
            </tr>
            <tr>
              <td>Approval</td>
              <td>{{data.approval[0]}}</td>
              <td>{{data.approval[1]}}</td>
              <td>{{data.approval[0] - data.approval[1]}}</td>
            </tr>
            <tr>
              <td>Forged</td>
              <td>{{data.forged[0]}}</td>
              <td>{{data.forged[1]}}</td>
              <td>{{data.forged[0] - data.forged[1]}}</td>
            </tr>
            <tr>
              <td>Voted back</td>
              <td>{{data.vote[0]}}</td>
              <td>{{data.vote[1]}}</td>
              <td></td>
            </tr>
          </tbody>
      </div>

    </div>

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <!-- endbower -->
	<script src="js/index.js"></script>
	<script>
		$.material.init ();
	</script>
  </body>
</html>
