<!DOCTYPE html>
<html lang="en" ng-app="votersApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Git Diff Voters</title>
    <link rel="icon" type="image/png" href="/img/favicon-196x196.png" sizes="196x196">

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="style/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="indexController">
    <div class="container">
      <h1>Lisk voters</h1>

      <input ng-model="delegate.you" placeholder="Your delegate name" class="form-control" />
      <input ng-model="delegate.other" placeholder="Other delegate name" class="form-control" />
      <button ng-click="inspect()" class="btn btn-info btn-raised btn-block">Inspect</button>

      <hr>
      <div ng-if="loading == 'yes'" align="center">
        <i class="fa fa-spin fa-refresh" style="font-size: 300%"></i><br>
        <i>Data is loading, please wait...</i>
      </div>
      <div ng-if="loading == 'err'" align="center">
        <i class="fa fa-times-circle" style="font-size: 300%"></i><br>
        <i>{{error}}</i>
      </div>
      <div ng-if="loading == 'no'"></div>
      <div ng-if="loading == 'completed'">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>{{data.you.username}}</th>
              <th>{{data.other.username}}</th>
              <th>Diff</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Address</td>
              <td>{{data.you.address}}</td>
              <td>{{data.other.address}}</td>
              <td></td>
            </tr>
            <tr>
              <td>Balance</td>
              <td>{{data.you.balance|number:2}}</td>
              <td>{{data.other.balance|number:2}}</td>
              <td>{{data.you.balance - data.other.balance|number:2}}</td>
            </tr>
            <tr>
              <td>Rank</td>
              <td>{{data.you.rate}}</td>
              <td>{{data.other.rate}}</td>
              <td>{{data.you.rate - data.other.rate}}</td>
            </tr>
            <tr>
              <td>Approval</td>
              <td>{{data.you.approval}}</td>
              <td>{{data.other.approval}}</td>
              <td>{{data.you.approval - data.other.approval|number:2}}</td>
            </tr>
            <tr>
              <td>Productivity</td>
              <td>{{data.you.productivity}}</td>
              <td>{{data.other.productivity}}</td>
              <td>{{data.you.productivity - data.other.productivity|number:2}}</td>
            </tr>
            <tr>
              <td>Voted back</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
      </div>


        <!--
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>
              <strong>Lisk</strong> Voters
            </h1>
            <p>Check the <strong>"git diff"</strong> btw two address ordered by balance!</p>
          </div>
          <div class="form-horizontal">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <div class="col-md-12">
                  <input class="form-control" type="text" ng-model="address" placeholder="Insert first Address">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <div class="col-md-12">
                  <input class="form-control" type="text" ng-model="addressToCompare" placeholder="Insert second Address">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <div class="col-md-12">
                  <button class="btn btn-success pull-right" ng-click="checkDiff();">Check</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
    </div>

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <!-- endbower -->
	<script src="js/index.js"></script>
	<script>
		$.material.init ();
	</script>
  </body>
</html>
